.main-chat
  .main-header
    .main-header__group
      .main-header__groupname TECH::Kagawa
      %ul.main-header__memberlist 
        Member:
        %li.main-header__member
          kimika
    %a.main-header__editbutton{ href: '#' } Edit

  .message
    .message__box 
      .message__info
        .message__info__username
          kimika
        .message__info__data
          2020年12月07日 13時00分
      .message__text
        %p.message__text__content
          いい天気♪
-# %span.message__box{ data: { message_id: '4995' } }
  {data-message-id="4995"}

  .form

