.main-chat
  .main-header
    .main-header__group
      .main-header__groupname TECH::Kagawa
      %ul.main-header__memberlist 
        Member:
        %li.main-header__member
          kimika
    %a.main-header__editbutton{ href: '#' } Edit
  .message

  .form